@font-face {
               font-family: "Montserrat-Medium";
               src: url("../fonts/fonts/Montserrat-Medium.ttf");
               font-weight: 500;
}
@font-face {
               font-family: "ProstoOne-Regular";
               src: url("../fonts/fonts/ProstoOne-Regular.ttf");
               font-weight: 400;
}